/* Google font api
   News cycle (sans-serif)
*/
@import url(http://fonts.googleapis.com/css?family=News+Cycle);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* From the html5boilerplate
   h5bp.com
*/
html { 
   font-size: 100%; 
   overflow-y: scroll; 
   -webkit-tap-highlight-color: rgba(0,0,0,0); 
   -webkit-text-size-adjust: 100%; 
   -ms-text-size-adjust: 100%; 
}
body { 
   margin: 0; 
   font-size: 16px; 
   line-height: 1.4; 
}
body, button, input, select, textarea { 
   font-family: "News Cycle", sans-serif; 
   color: #222; 
}

::-moz-selection { background: #000; color: #fff; text-shadow: none; }
::selection { background: #000; color: #fff; text-shadow: none; }

a { 
   color: #E56354; 
   text-decoration: none;
   border-bottom: 1px solid #E56354;
}
a:visited { 
   color: #8A3C33; 
   border-bottom: #8A3C33;
}
a:focus { outline: thin dotted; }
a:hover, a:active { 
   outline: 0; 
   background-color: #eee; 
}
pre, code, kbd, samp { 
   font-family: monospace, monospace; 
   _font-family: 'courier new', monospace; 
   font-size: .9em; 
}
pre { 
   white-space: pre; 
   white-space: pre-wrap; 
   word-wrap: break-word; 
}

/* Main styles
   by @xonecas
*/
body {
   width: 960px;
   margin: 0 auto;
}

.loader {
   display: block;
   width: 64px;
   height: 64px;
   margin: 0 auto;
}

#guide {
   position: absolute;
   top: 10px;
   right: 10px;
}

#brand {
   background: url("/imgs/me.png") no-repeat scroll left 50% transparent;
   padding: 0 0 10px 58px;
   font-size: 40px;
}

#latestTweet {
   text-align: center;
   margin: 2em 0 6em;
}

h1, h2, h3, h4, h5, h6 {
   margin: 1em 0;
   font-weight: bold;
}

h2 { font-size: 36px; }
h3 { font-size: 24px; }

em { font-style: italic; }
strong { font-weight: bold; }

.post {
   margin: 0 0 20em;
   padding: 0 0 2em 10px;
   border-left: 1px solid transparent;
}
.selectedPost {
   border-left: 1px solid #E56354;
}

.relTime { 
   float: right;
   margin: 2em 0 0 0;
}
pre { 
   margin: 1em 0; 
   padding: 10px;
}
pre, code {
   background: #eee;
   border-left: 5px solid #999;
}
pre code { border: none; }
code { padding: 3px 5px; }



.badge {
   width: 46%;
   float: right;
   margin: 0 2% 40px;
}

.badgeImage {
   width: 64px;
   height: 64px;
   float: left;
   margin: 0 20px 0 0;
}

.badgeTitle {
   position: relative;
   bottom: 12px;
}

.badgeText {
   margin: 0 0 0 84px;
}

/* Helpers (from h5bp)
*/
.hidden { display: none; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }




/* Media style changes
 * For mobile and shit
 */
@media only screen and (max-width: 480px) {
   /* Style adjustments for viewports 480px and over go here */ 
   body {
      margin: 0 auto;
      width: 460px;
      font-size: 13px;
   }

   h2 { font-size: 30px; }
   h3 { font-size: 20px; }
}

@media only screen and (max-width: 768px) {
   /* Style adjustments for viewports 768px and over go here */

}

