/* grid from twitter bootstrap */
.container {
   width: 940px;
   margin-left: auto;
   margin-right: auto;
   zoom: 1;
}
.container:before, .container:after {
   display: table;
   content: "";
   zoom: 1;
}
.container:after {
   clear: both;
}
.row {
   zoom: 1;
   margin-left: -20px;
}
.row:before, .row:after {
   display: table;
   content: "";
   zoom: 1;
}
.row:after {
   clear: both;
}
.row > [class*="span"] {
   display: inline;
   float: left;
   margin-left: 20px;
}
.span1 {
   width: 40px;
}
.span2 {
   width: 100px;
}
.span3 {
   width: 160px;
}
.span4 {
   width: 220px;
}
.span5 {
   width: 280px;
}
.span6 {
   width: 340px;
}
.span7 {
   width: 400px;
}
.span8 {
   width: 460px;
}
.span9 {
   width: 520px;
}
.span10 {
   width: 580px;
}
.span11 {
   width: 640px;
}
.span12 {
   width: 700px;
}
.span13 {
   width: 760px;
}
.span14 {
   width: 820px;
}
.span15 {
   width: 880px;
}
.span16 {
   width: 940px;
}
.span17 {
   width: 1000px;
}
.span18 {
   width: 1060px;
}
.span19 {
   width: 1120px;
}
.span20 {
   width: 1180px;
}
.span21 {
   width: 1240px;
}
.span22 {
   width: 1300px;
}
.span23 {
   width: 1360px;
}
.span24 {
   width: 1420px;
}
.row > .offset1 {
   margin-left: 80px;
}
.row > .offset2 {
   margin-left: 140px;
}
.row > .offset3 {
   margin-left: 200px;
}
.row > .offset4 {
   margin-left: 260px;
}
.row > .offset5 {
   margin-left: 320px;
}
.row > .offset6 {
   margin-left: 380px;
}
.row > .offset7 {
   margin-left: 440px;
}
.row > .offset8 {
   margin-left: 500px;
}
.row > .offset9 {
   margin-left: 560px;
}
.row > .offset10 {
   margin-left: 620px;
}
.row > .offset11 {
   margin-left: 680px;
}
.row > .offset12 {
   margin-left: 740px;
}
.span-one-third {
   width: 300px;
}
.span-two-thirds {
   width: 620px;
}
.row > .offset-one-third {
   margin-left: 340px;
}
.row > .offset-two-thirds {
   margin-left: 660px;
}

.push-right {
   float: right;
}

/* my styles */
html, body {
   min-height: 100%;
   font-family: Helvetica, "Helvetica Neue", Arial, "DejaVu Sans", sans-serif;
}

small {
   color: #666;
}

pre, code {
   font-size: smaller;
   padding: 4px;
   background: #efefef;
   -webkit-border-radius: 6px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
   -moz-border-radius: 6px; /* FF1-3.6 */
   border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

a {
   color: #323230;
   background: #f0db4e;
   padding: 2px;
   -webkit-border-radius: 4px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
   -moz-border-radius: 4px; /* FF1-3.6 */
   border-radius: 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
   text-decoration: none;
}
a:active, a:visited {
   color: #666;
}
a:hover {
   color: #000;
}

.name {
   color: #fff;
   margin: 0;
   padding: 20px;
}

.header-background {
   height: 60px;
   margin-bottom: 20px;

   background-color: #333333;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to()); /* Saf4+, Chrome */
   background-image: -webkit-linear-gradient(top, #333333, #000000); /* Chrome 10+, Saf5.1+, iOS 5+ */
   background-image:    -moz-linear-gradient(top, #333333, #000000); /* FF3.6 */
   background-image:     -ms-linear-gradient(top, #333333, #000000); /* IE10 */
   background-image:      -o-linear-gradient(top, #333333, #000000); /* Opera 11.10+ */
   background-image:         linear-gradient(to bottom, #333333, #000000);

   -webkit-box-shadow: 0 4px 2px #ccc; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
   -moz-box-shadow: 0 4px 2px #ccc; /* FF3.5 - 3.6 */
   box-shadow: 0 4px 2px #ccc; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

.title {
   text-transform: uppercase;
   margin-top: 0;
   margin-bottom: 20px;
}

.banner {
   padding: 20px;
   margin: 40px 0;
   background: #efefef;

   -webkit-border-radius: 12px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
   -moz-border-radius: 12px; /* FF1-3.6 */
   border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

.preview > div {
   margin-bottom: 20px;
}

.timestamp {
   color: #666;
   font-size: smaller;
}
