<div class="topbar-inner">
   <div class="container">
      <h3><a href="/">xonecas</a></h3>
      <ul class="nav">
         <li><a id="prev-post" href="#">Previous page</a></li>
         <li><a id="next-post" href="#">Next page</a></li>
      </ul>

      <ul class="nav secondary-nav">
         <li class="menu">
            <a href="#" class="menu">Projects and experiments</a>
            <ul class="menu-dropdown">
               <li>
                  <a href="https://github.com/xonecas/canvas-rings" target="_new">
                     Colorful Rings
                  </a>
               </li>
               <li>
                  <a href="https://github.com/xonecas/2d-particle-experiements" target="_new">
                     2D Particle Experiments
                  </a>
               </li>
               <li>
                  <a href="https://github.com/xonecas/creativejs-threejs-part1" target="_new">
                     Three.js tutorial from Creativejs.com
                  </a>
               </li>
               <li>
                  <a href="https://github.com/xonecas/fractal-tree" target="_new">
                     Fractal Tree
                  </a>
               </li>
               <li class="divider"></li>
               <li>
                  <a href="https://github.com/xonecas/chrome-hijs" 
                     target="_new">
                     Hijs for Chrome
                  </a>
               </li>
               <li>
                  <a href="https://github.com/xonecas/dotter" 
                     target="_new">
                     Dotter
                  </a>
               </li>
               <li>
                  <a href="https://github.com/xonecas/disqus-node" 
                     target="_new">
                     Disqus api for Node.js
                  </a>
               </li>
            </ul>
         </li>
      </ul>
   </div>
</div>
