<div class="bottom">
   <h2>
      Looking for Sean?
      <small>
         <a href="//xonecas.tumblr.com/">Blog</a>
         <a href="//twitter.com/xonecas">Twitter</a>
         <a href="//github.com/xonecas">Github</a>
      </small>
   </h2>
</div>
